* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
}

/* **************** */
/* HEADER */
/* **************** */

header {
    background-color: #f5f7fa;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0px;
}

.nav-logo img {
    width: 100px;
}

.navbar {
    width: 480px;
}

.navbar-lists {
    color: #18191F;
    width: 100%;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin-left: 20px;
    /* font size*/
}

.navbar-list {
    border-bottom: 2px solid transparent;
    transition: all 0.3s;
    cursor: pointer;
}

.navbar-list:hover {
    border-bottom: 2px solid #28CB8b;
}

.nav-btns {
    width: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.btn-navbar {
    font-size: 14px;
    border: 0;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s;
}

.login {
    margin-right: 14px;
    background-color: #f5f7fa;
    color: #28CB8b;
    letter-spacing: 1px;
    border-radius: 5px;
}

.login:hover {
    background-color: #e7e7eb;
}

.signup {
    background-color: #28CB8b;
    color: white;
    border-radius: 6px;
    letter-spacing: 1px;
}

.signup:hover {
    background-color: #24a370;
}


/* **************** */
/* Section Hero*/
/* **************** */

main {
    margin: 0;
    padding: 0;
}

.section-hero {
    background-color: #f5f7fa;
}

.hero {
    max-width: 1300px;
    /*max width*/
    padding-top: 80px;
    padding-right: 144px;
    padding-bottom: 30px;
    padding-left: 144px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    gap: 104px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 16px;
}

.hero-content h1 {
    font-size: 48px;
    color: #4d4d4d;
}

.h1-span {
    color: #4caf4f;
}

.hero-content p {
    font-size: 12px;
    color: #717171;
}

.hero-btn {
    padding: 14px 32px;
    font-size: 12px;
    background-color: #4caf4f;
    border: none;
    color: white;
    border-radius: 4px;
    margin-top: 16px;
    transition: all 0.3s;
    letter-spacing: 1px;
}

.hero-btn:hover {
    background-color: #339435;
}

.hero-img img {
    width: 391px;
}

.hero-pages-dots {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    grid-column: span 2;
}

.hero-pages-dots div {
    cursor: pointer;
}

.green-dot {
    background-color: #4caf4f;
}

.lightgreen-dots {
    background-color: #a9e1ac;
}

.hero-pages-dots div {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}


/* **************** */
/* Section Our Clients*/
/* **************** */

.our-clients {
    max-width: 1300px;
    /*max width*/
    padding-right: 144px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 144px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.our-clients h2 {
    font-size: 32px;
    color: #4d4d4d;
}

.our-clients p {
    font-size: 12px;
    color: #717171;
}

.clients-logos {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 48px;
}

/* **************** */
/* Section manange-community*/
/* **************** */

.manange-community {
    max-width: 1300px;
    /*max width*/
    padding-right: 144px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 144px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.manange-community h2 {
    font-size: 32px;
    color: #4d4d4d;
    text-align: center;
}

.manange-community p {
    font-size: 12px;
    margin-bottom: 20px;
    color: #717171;
}

.community-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 127px;
}

.community-card {
    /* width: auto; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    text-align: center;
    gap: 8px;
    padding: 24px 32px;
    box-shadow: 1px 3px 5px #cecece;
    border-radius: 8px;
    transition: all 0.3s;
}

.community-card:hover {
    transform: translateY(-10px);
    box-shadow: 2px 4px 6px #cecece;
}

.community-card h3 {
    margin-top: 8px;
    font-size: 24px;
    color: #4d4d4d;
}

.community-card p {
    font-size: 12px;
    color: #717171;
}

.community-icons {
    position: relative;
    width: 50px;
    height: 50px;
    align-self: center;
    background-color: #E8F5E9;
    border-top-left-radius: 40%;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 40%;
    border-bottom-left-radius: 10%;
}

.community-icons img {
    position: absolute;
    right: 50%;
    /* top: 20%; */
}

/* **************** */
/* Section Pixelgrade*/
/* **************** */

.pixelgrade {
    max-width: 1300px;
    /*max width*/
    padding-right: 144px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 144px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 49px;
}

.pixelgrade-img img {
    width: auto;
}

.pixelgrade-content {
    max-width: 661px;
    display: flex;
    flex-direction: column;
    /* justify-content: start; */
    align-items: start;
    gap: 16px;
}

.pixelgrade-content h2 {
    font-size: 32px;
    color: #4d4d4d;
}

.pixelgrade-content p {
    font-size: 12px;
    color: #717171;
    margin-bottom: 16px;
}

.pixelgrade-content button {
    padding: 14px 32px;
    font-size: 12px;
    background-color: #4caf4f;
    border: none;
    color: white;
    border-radius: 4px;
    margin-top: 16px;
    transition: all 0.3s;
    letter-spacing: 1px;
}

.pixelgrade-content button:hover {
    background-color: #339435;
}

/* **************** */
/* Section Reinvent*/
/* **************** */

.section-reinvent {
    background-color: #f5f7fa;
}

.reinvent {
    max-width: 1300px;
    /*max width*/
    padding-right: 144px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 144px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 72px; */
}

.reinvent-text-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.reinvent-text-content h2 {
    font-size: 32px;
    color: #4d4d4d;
}

.reinvent-text-content p {
    font-size: 12px;
    color: #717171;
}

.reinvent-features {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.reinvent-feature {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2px;
    align-items: center;
}

.reinvent-feature img {
    grid-row: span 2;
    justify-self: center;
}

.reinvent-feature h2 {
    font-size: 28px;
    color: #4d4d4d;
}

.reinvent-feature p {
    font-size: 12px;
    color: #717171;
}

/* **************** */
/* Section Design footer*/
/* **************** */

.design-footer-section {
    max-width: 1300px;
    padding-right: 144px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 144px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 49px;
}

.design-footer-content {
    max-width: 661px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: start;
}

.design-footer-content h2 {
    font-size: 32px;
    color: #4d4d4d;
}

.design-footer-content p {
    font-size: 12px;
    color: #717171;
}

.design-footer-content button {
    padding: 14px 32px;
    font-size: 12px;
    background-color: #4caf4f;
    border: none;
    color: white;
    border-radius: 4px;
    margin-top: 16px;
    transition: all 0.3s;
    letter-spacing: 1px;
}

.design-footer-section button:hover {
    background-color: #339435;
}

/* **************** */
/* Section Tesla*/
/* **************** */

.section-tesla {
    background-color: #f5f7fa;
}

.tesla {
    max-width: 1300px;
    padding-right: 144px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 144px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 78px;
}

.tesla-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 748px;
}

.tesla-content p {
    font-size: 12px;
    color: #717171;
}

.tesla-content h3 {
    font-size: 24px;
    color: #4CAF4F;
}

.tesla-tim-intro {
    font-size: 14px;
    color: #89939E;
}

.tesla-components {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tesla-components a {
    color: #4CAF4F;
    text-decoration: none;
    font-weight: 600;
}

.tesla-span {
    margin-left: 5px;
    /* font-weight: 900; */
}

/* **************** */
/* Section Caring*/
/* **************** */

.caring {
    max-width: 1300px;
    padding-right: 144px;
    padding-top: 50px;
    padding-bottom: 200px;
    padding-left: 144px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.caring h2 {
    font-size: 32px;
    color: #4d4d4d;
}

.caring p {
    font-size: 12px;
    color: #717171;
    text-align: center;
    max-width: 580px;
}

.caring-cards {
    margin-top: 16px;
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
}

.caring-card {
    width: fit-content;
    position: relative;
}

.caring-card img {
    width: 100%;
}

.card-content {
    max-width: 250px;
    position: absolute;
    top: 75%;
    left: 10%;
    right: 10%;
    background-color: #F5F7FA;
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: center;
    padding: 28px 24px;
    border-radius: 8px;
    box-shadow: 1px 3px 6px #cecece;
    transition: all 0.3s;
}

.card-content:hover {
    transform: translateY(-10px);
}

.card-content p {
    font-size: 18px;
    color: #717171;
    font-weight: 600;
}

.card-content a {
    color: #4CAF4F;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
}

/* **************** */
/* Section Get Demo*/
/* **************** */

.section-getdemo {
    background-color: #F5F7FA;
}

.getdemo {
    max-width: 1300px;
    padding-right: 144px;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 144px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.getdemo h1 {
    color: #263238;
    text-align: center;
    font-size: 42px;
}

.getdemo button {
    padding: 14px 32px;
    font-size: 12px;
    background-color: #4caf4f;
    border: none;
    color: white;
    border-radius: 4px;
    transition: all 0.3s;
    letter-spacing: 1px;
}

.getdemo button:hover {
    background-color: #339435;
}


/* ******* */
/* Footer */
/* ******* */

footer {
    background-color: #263238;
}

.footer-section {
    max-width: 1300px;
    padding-right: 144px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 144px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.logo-footer {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
}

.logo-footer img {
    max-width: 191px;
}

.logo-footer p {
    font-size: 12px;
    color: #F5F7FA;
}

.social-logos {
    display: flex;
    align-items: center;
    gap: 16px;
    cursor: pointer;
}

.social-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background-color: #4d4d4d;
    border-radius: 50%;
}

.footer-content {
    display: flex;
    justify-content: flex-start;
    gap: 70px;
}

.cont {
    display: flex;
    flex-direction: column;
    color: #F5F7FA;
    gap: 24px;
    justify-content: start;
    align-items: flex-start;
}

.footer-content-header {
    font-size: 24px;
}

.footer-lists {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer-lists li {
    font-size: 12px;
    color: #F5F7FA;
}

.form {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #525252;
    padding: 10px 10px;
    border-radius: 8px;
}

.form img {
    cursor: pointer;
}

.form input {
    color: #F5F7FA;
    border: none;
    background-color: inherit;
}

.form input:focus {
    color: #F5F7FA;
    outline: transparent;
}

.form input::placeholder {
    color: #F5F7FA;
}